site_name: faxai Documentation
site_description: Feature Attribution Model-Agnostic Python library for Machine Learning Explainability
site_author: jparisu
site_url: https://faxai.readthedocs.io/

repo_name: jparisu/faxai
repo_url: https://github.com/jparisu/faxai
edit_uri: edit/main/docs

# Theme
theme:
  name: readthedocs

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google
            show_source: true
  - include-markdown

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - md_in_html

nav:
  - Home: index.md
  - Installation: installation.md
  - Getting Started: getting-started.md
  - Explainability Methods:
    - ICE (Individual Conditional Expectation): ice.md
    - PDP (Partial Dependence Plot): pdp.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/jparisu/faxai
